<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        border-bottom: 2px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f2f2f2;
    }

    button {
        padding: 8px 16px;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: 14px;
        cursor: pointer;
        border-radius: 4px;
    }

    .Borrar {
        background-color: rgb(241, 50, 50);
    }

    .Borrar:hover {
        background-color: rgb(207, 66, 66);
    }

    .Buscar {
        background-color: rgb(50, 50, 243);
    }

    .Stock {
        background-color: rgb(153, 0, 153);
    }

    button:hover {
        background-color: #45a049;
    }

    /* Header */

    header {
        width: 100%;
        height: 60px;
        background: rgb(0, 51, 190);
        position: fixed;
        z-index: 10;
    }

    .lnr-menu {
        font-size: 30px;
        position: relative;
        top: 10px;
        left: 10px;
        color: white;
        border: 1px solid transparent;
        transition: all 300ms;
        padding: 2px;
        cursor: pointer;
    }

    .lnr-menu:hover {
        border: 1px solid white;
    }

    /* Menu */

    .menu {
        top: 60px;
        width: 60px;
        height: 100vh;
        background: rgb(58, 58, 58);
        overflow: hidden;
        position: fixed;
        transition: all 300ms;
        z-index: 9;
        overflow: auto;
    }

    .menu-show {
        width: 240px;
    }

    .line {
        margin-top: 10px;
        padding: 10px;
        transition: all 300ms;
    }
    
    .line:hover {
        background: rgb(0, 51, 190);
        cursor: pointer;
    }

    .line label {
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .line font {
        margin-left: 30px;
        font-size: 18px;
        font-weight: 100;
        cursor: pointer;
    }

    /* Articulo */

    main {
        width: 80%;
        position: absolute;
        top: 60px;
        left: 70px;
        padding: 20px;
        transition: all 300ms;
    }

    .main-move {
        left: 250px;
    }

    article h1 {
        font-size: 40px;
    }

    article p {
        font-size: 20px;
        margin-top: 20px;
        font-weight: 100;
    }

    /* Modal */
    #removed_item {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }


    #loginModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    #loginModal-edit {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        max-width: 1500px;
        border-radius: 8px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -10px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .close1 {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -10px;
    }

    .close1:hover,
    .close1:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    h2 {
        margin-bottom: 9px;
        margin-top: 0;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input[type="text"],
    input[type="number"],
    button[type="submit"] {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    input[type="text"]:focus,
    input[type="number"]:focus {
        outline: none;
        border-color: #4CAF50;
    }

    /* Select */

    select#art_itbis {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 15px;
    }

    select#art_itbis option {
        padding: 10px;
        font-size: 16px;
    }

    select#categorias {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 15px;
    }

    select#categorias option {
        padding: 10px;
        font-size: 16px;
    }

    /* Inputs */

    .input-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
    }

    .input-container input[type="text"] {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }

    /* Table */
    table {
            width: 100%;
            margin: 20px auto;
            border-collapse: collapse;
            border: 1px solid #ddd;
            background-color: #fff;
            overflow-y: auto;
            max-height: 200px;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        .red {
            padding: 10px;
            text-align: center;
            color: red;
        }

        th {
            background-color: #f2f2f2;
            border-bottom: 2px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f2f2f2;
        }

</style>

<div id="loginModal-edit" class="modal">
    <div class="modal-content">
      <a href="/bills_adm"><span id="close-edit" class="close">&times;</span></a>
      <h2>Modificar Factura</h2>
      <form id="updateForm" method="post" action="/update_bill/{{ bill_data.0 }}" enctype="multipart/form-data">
        <div class="input-container">
            <label for=""><strong>Fecha:</strong></label>
            <label for=""><strong>cliente:</strong></label>
            <label for=""><strong>descuento:</strong></label>

            <input type="text" id="date" name="date" value="{{ bill_data.1 }}">
            <input type="text" id="customer" name="customer" value="{{ bill_data.3 }}">
            <input type="text" id="discount" name="discount" value="{{ bill_data.4 }}">

            <label for=""><strong>Methodo Pago:</strong></label>
            <label for=""><strong>Monto:</strong></label>
            <label for=""><strong>Cambio:</strong></label>
            <input type="text" id="way_to_pay" name="way_to_pay" value="{{ bill_data.5 }}">
            <input type="text" id="paid" name="paid" value="{{ bill_data.6 }}">
            <input type="text" id="change" name="change" readonly value="{{ bill_data.7 }}">

            <label for=""><strong>Cajero:</strong></label>
            <label for=""><strong>RNC:</strong></label>
            <label for=""><strong>Ubicación:</strong></label>
            <input type="text" id="cashier" name="cashier" value="{{ bill_data.8 }}">
            <input type="text" id="rnc_client" name="rnc_client" value="{{ bill_data.9 }}">
            <input type="text" id="ubicacion" name="ubicacion" value="{{ bill_data.10 }}">

            <label for=""><strong>Contacto:</strong></label>
            <label for=""><strong>Total General:</strong></label>
            <br>
            <input type="text" id="contacto" name="contacto" value="{{ bill_data.11 }}">
            <input type="text" id="total" name="total" readonly value="{{ bill_data.12 }}">
            <br>
        </div>

        <!-- productos -->

        <table>
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Itibis</th>
                <th>Cantidad</th>
            </tr>
            {% for fila in article %}
                <tr>
                    <td><input name="description" id="description" value="{{ fila.2 }}" type="text"></td>
                    <td><input name="price" id="price" class="precio" value="{{ fila.3 }}" type="number"></td>
                    <td><input name="itbis" id="itbis" class="itibis" value="{{ fila.4 }}" type="number"></td>
                    <td><input name="quantity" id="quantity" class="cantidad" value="{{ fila.5 }}" type="number"></td>
                </tr>
            {% endfor %}
        </table>

        <button type="button" id="updatedButton">Updated</button>
      </form>
    </div>
</div>

<script>
    function calcularTotal() {
        let total = 0;
        const filas = document.querySelectorAll('table tr:not(:first-child)'); // Excluimos la primera fila (encabezados)
        
        filas.forEach(fila => {
            const precio = parseFloat(fila.querySelector('.precio').value) || 0;
            const itibis = parseFloat(fila.querySelector('.itibis').value) || 0;
            const cantidad = parseFloat(fila.querySelector('.cantidad').value) || 0;
            sub_total = precio * cantidad
            sub_itbis = sub_total + (sub_total * itibis / 100)
            total += sub_itbis
        });
        
        const totalInput = document.getElementById('total');
        const totalAnterior = parseFloat(totalInput.value) || 0;
        totalInput.value = total.toFixed(2);

        const montoPagado = parseFloat(document.getElementById('paid').value) || 0;
        const cambio = montoPagado - total;
        document.getElementById('change').value = cambio.toFixed(2);
    }

    const inputs = document.querySelectorAll('input.precio, input.itibis, input.cantidad');
    inputs.forEach(input => {
        input.addEventListener('input', calcularTotal);
    });
    document.getElementById('paid').addEventListener('input', calcularTotal);

    window.addEventListener('load', calcularTotal);



    document.getElementById('updatedButton').onclick = function() {
      Swal.fire({
        title: "¿Quieres guardar los cambios?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "Guardar",
        denyButtonText: `No Guardar`
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire({
            title: "Guardando...",
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
            }
          }).then(() => {
            document.getElementById('updateForm').submit();
          });
        } else if (result.isDenied) {
          Swal.fire({
            title: "¿Estás seguro?",
            text: "Si no guardas los cambios, se perderán.",
            showCancelButton: true,
            confirmButtonText: "Sí, estoy seguro",
            cancelButtonText: "Cancelar"
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = "/inventario";
            }
          });
        }
      });
    };
  </script>